<div class="flex items-center justify-center min-h-screen bg-gray-200  p-4">
  <div class="w-full max-w-md bg-white rounded-lg shadow-xl">

    <div class="px-8 py-6">
      <div routerLink="/login" class="flex items-center justify-start cursor-pointer">
        <ng-icon class="text-xl" name="heroArrowLeft"></ng-icon>
        <p class=" text-start">Voltar</p>
      </div>
      <div class="flex justify-center items-center mb-6">
        <img src="assets/img/sns_icon.png" alt="Logo" class="justify-center h-12 w-12">
      </div>
      <h2 class="text-2xl font-bold text-center text-gray-800">Recuperar Password</h2>
      <p class="text-center text-gray-500 mb-8">Introduza as suas credenciais para recuperar a sua Conta</p>

      <form [formGroup]="forgotForm" class="flex flex-col gap-4" (submit)="submit()">
        <app-input formControlName="documentNumber" label="Nº Cartão de Cidadão*"></app-input>
        <span
          *ngIf="documentNumber?.invalid && (documentNumber?.dirty || documentNumber?.touched) && documentNumber?.errors?.['required']"
          class="text-red-500 text-sm">Nº Cartão de Cidadão é obrigatório</span>

        <app-input formControlName="email" type="email" label="Email*"></app-input>
        <span *ngIf="email?.invalid && (email?.dirty || email?.touched) && email?.errors?.['required']"
          class="text-red-500 text-sm">Email é obrigatório</span>

        <app-input formControlName="birthdate" type="date" label="Data Nascimento*"></app-input>
        <span *ngIf="birthdate?.invalid && (birthdate?.dirty || birthdate?.touched) && birthdate?.errors?.['required']"
          class="text-red-500 text-sm">Data de nascimento é obrigatório</span>

        <div class="flex justify-center">
          <app-button type="submit" class="w-full">Recuperar Password</app-button>
        </div>
      </form>

    </div>
  </div>
</div>
