<div *ngIf="medicalAppointment; else notFound" class="space-y-8">
  <div class="flex justify-between flex-wrap gap-4 items-center mb-4">
    <app-button
      routerLink="/dashboard/appointments"
      [bgColor]="'bg-gray-500'"
      [bgHover]="'hover:bg-gray-600'"
      [color]="'text-white'"
    >
      Voltar
    </app-button>

    <div class="flex gap-4">
      <!-- Show "Do Consulta" for medics if not realized -->
      <app-button
        *ngIf="!isPacient && !medicalAppointment.appointment.attended"
        color="text-white"
        bgHover="bg-green-600"
        bgColor="hover:bg-green-500"
        [routerLink]="['/dashboard/appointments/edit', medicalAppointment.id]"
      >
        Realizar Consulta
      </app-button>

      <!-- Show "Generate PDF" if realized -->
      <app-button
        *ngIf="medicalAppointment && medicalAppointment.appointment.attended"
        (click)="generatePdf()"
        [bgColor]="'bg-blue-500'"
        [bgHover]="'hover:bg-blue-600'"
        [color]="'text-white'"
      >
        Gerar PDF
      </app-button>
    </div>
  </div>

  <!-- Appointment Details -->
  <div class="space-y-4">
    <h2 class="text-lg font-medium">Informações da Consulta</h2>
    <div class="grid grid-cols-2 gap-4 text-sm">
      <p><strong>Razão:</strong> {{ medicalAppointment.reasonForVisit }}</p>
      <p><strong>Tipo:</strong> {{ medicalAppointment.appointmentType }}</p>
      <p><strong>Especialidade:</strong> {{ medicalAppointment.specialty }}</p>
      <p><strong>Sintomas:</strong> {{ medicalAppointment.symptoms }}</p>
      <p><strong>Diagnóstico:</strong> {{ medicalAppointment.diagnosis }}</p>
      <p><strong>Prescrição:</strong> {{ medicalAppointment.prescription }}</p>
      <p>
        <strong>Data da Consulta:</strong>
        {{ medicalAppointment.appointment.date | date : "dd/MM/yyyy" }}
      </p>
    </div>
  </div>

  <!-- Medical Leave Details -->
  <div *ngIf="medicalAppointment.medicalLeave" class="space-y-4 pt-4 border-t">
    <h2 class="text-lg font-medium">Baixa Médica Associada</h2>
    <div class="grid grid-cols-2 gap-4 text-sm">
      <p>
        <strong>ID da Baixa Médica:</strong>
        {{ medicalAppointment.medicalLeave.id }}
      </p>
      <p>
        <strong>Médico:</strong>
        {{ medicalAppointment.medicalLeave.doctor?.name }}
      </p>
      <p>
        <strong>Especialidade do Médico:</strong>
        {{ medicalAppointment.medicalLeave.doctor?.specialty }}
      </p>
      <p>
        <strong>Diagnóstico:</strong>
        {{ medicalAppointment.medicalLeave.diagnosis }}
      </p>
      <p>
        <strong>Data Início:</strong>
        {{ medicalAppointment.medicalLeave.startDate | date : "dd/MM/yyyy" }}
      </p>
      <p>
        <strong>Data Alta:</strong>
        {{ medicalAppointment.medicalLeave.endDate | date : "dd/MM/yyyy" }}
      </p>
      <p>
        <strong>Recomendações:</strong>
        {{ medicalAppointment.medicalLeave.recommendations }}
      </p>
    </div>
  </div>
</div>

<ng-template #notFound>
  <div class="text-center py-8">
    <div class="flex justify-between items-center mb-4">
      <app-button
        routerLink="/dashboard/appointments"
        [bgColor]="'bg-gray-500'"
        [bgHover]="'hover:bg-gray-600'"
        [color]="'text-white'"
      >
        Voltar para Consultas
      </app-button>
    </div>
    <h1 class="text-xl font-medium text-gray-800">Consulta não encontrada!</h1>
    <p class="text-gray-600 text-sm">
      Por favor, verifique os detalhes ou tente novamente.
    </p>
  </div>
</ng-template>
