<div>
  <label [for]="'input-' + id" class="block text-sm font-medium text-gray-700">
    {{ label }}
  </label>
  <input
    [id]="'input-' + id"
    [type]="type"
    [value]="_value"
    [disabled]="disable"
    [readonly]="readonly"
    [min]="min"
    (input)="inputChanged($event)"
    [accept]="accept"
    class="mt-1 min-h-10 block w-full gap-2 px-4 py-2 border border-gray-300 rounded-lg shadow-sm sm:text-sm"
    [ngClass]="readonly ? 'bg-gray-200 focus:outline-none ': 'focus:outline-none focus:ring-blue-500 focus:border-blue-500 '"
  />
</div>
